<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>13791217604-bpstcbf0rjsh0ca7di0ak5sl7be4n748.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13791217604-bpstcbf0rjsh0ca7di0ak5sl7be4n748</string>
	<key>API_KEY</key>
	<string>AIzaSyAdOjZwuG6_QuHtB9XBUh7sUkbX5uiddi0</string>
	<key>GCM_SENDER_ID</key>
	<string>13791217604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cstu.toys</string>
	<key>PROJECT_ID</key>
	<string>toys-dc0e6</string>
	<key>STORAGE_BUCKET</key>
	<string>toys-dc0e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13791217604:ios:7d9084d0420ed251</string>
	<key>DATABASE_URL</key>
	<string>https://toys-dc0e6.firebaseio.com</string>
</dict>
</plist>